@model Marcenaria.Models.ContaReceber
@{
    ViewBag.Title = "Deleção de Conta a Receber";
}


<div class="panel panel-danger">
    <div class="panel-heading">Exclusão da Conta a Receber</div>
    <p></p>
    @using (Html.BeginForm("Delete", "ContaReceber", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="form-group">
            <label for="IValor" class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="Valor" id="IValor" value="@Model.Valor" disabled>
            </div>
        </div>
        <p></p>

        <div class="form-group">
            <label for="IData" class="col-sm-2 control-label">Data</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Data" id="IData" value="@Model.Data" disabled>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <div class="btn-group btn-group-sm">
                    <input type="submit" value="Excluir" class="btn btn-default btn-sm" />
                    <a href="@Url.Action("Index", "ContaReceber")" class="btn btn-default btn-sm">Voltar</a>
                </div>
            </div>
        </div>
        <p></p>
    }
</div>

