@{
    ViewBag.Title = "Cadastro de Cliente";
}

@Html.ValidationSummary(true)
<div class="panel panel-info">
    <div class="panel-heading">Cadastro de Cliente</div>
    <p></p>
    @using (Html.BeginForm("Create", "Cliente", FormMethod.Post,
        new { @class = "form-horizontal", @role = "form" }))
    {

        <div class="form-group">
            <label for="INome" class="col-sm-2 control-label">Nome</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Nome"
                       name="nNome" id="iNome">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ITelefone" class="col-sm-2 control-label">Telefone</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Telefone"
                       name="nTelefone" id="iTelefone">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ICelular" class="col-sm-2 control-label">Celular</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Celular"
                       name="nCelular" id="iCelular">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ITipo" class="col-sm-2 control-label">Tipo</label>
            <div class="col-sm-2">
                <input type="checkbox" class="checkbox" placeholder="Tipo"
                       name="nTipo" id="iTipo">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ICpf" class="col-sm-2 control-label">Cpf</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Cpf"
                       name="nCpf" id="iCpf">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ICnpj" class="col-sm-2 control-label">Cnpj</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Cnpj"
                       name="nCnpj" id="iCnpj">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="IEstado" class="col-sm-2 control-label">Estado</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Estado"
                       name="nEstado" id="iEstado">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="ICidade" class="col-sm-2 control-label">Cidade</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Cidade"
                       name="nCidade" id="iCidade">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="IBairro" class="col-sm-2 control-label">Bairro</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Bairro"
                       name="nBairro" id="iBairro">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="IRua" class="col-sm-2 control-label">Rua</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" placeholder="Rua"
                       name="nRua" id="iRua">
            </div>
        </div>
        <p></p>
        <div class="form-group">
            <label for="INumero" class="col-sm-2 control-label">Numero</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" placeholder="Numero"
                       name="nNumero" id="iNumero">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <div class="btn-group btn-group-sm">
                    <button type="submit" class="btn btn-default">Salvar</button>
                    <a href="@Url.Action("Index", "Cliente")" class="btn btn-default btn-sm">Voltar</a>
                </div>
            </div>
        </div>
        <p></p>
    }
</div>

