@model Marcenaria.Models.Venda
@{
    ViewBag.Title = "Edição de Venda";
}

@Html.ValidationSummary(true)
<div class="panel panel-warning">
    <div class="panel-heading">Edição de Venda</div>
    <p></p>
    @using (Html.BeginForm("Edit", "Venda",
    FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="form-group">
            @Html.Label("Data", new { @class = "col-sm-2 control-label" })
            @Html.TextBox("nData", Model.Data, new { @class = "form-control", type = "text", required = "true" })
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <div class="btn-group btn-group-sm">
                    <button type="submit" class="btn btn-default">Salvar</button>
                    <a href="@Url.Action("Index", "Venda")" class="btn btn-default btn-sm">Voltar</a>
                </div>
            </div>
        </div>


    }
</div>

