@{
    ViewBag.Title = "Sobre";
}
<h2><p>Sobre:</p></h2>
<p>Este VT é um programa WEB para uma Marcenaria.</p>
<h3><p>Integrantes do VT:</p></h3>
<p>Jairo Jean;</p>
<p>Lucas Casagrande;</p>
<p>Lucas Pereira;</p>
<p>Wagner Jorge.</p>
