@model Marcenaria.Models.ItemVenda
@{
    ViewBag.Title = "Deleção de Item da Venda";
}


<div class="panel panel-danger">
    <div class="panel-heading">Exclusão do Item da Venda</div>
    <p></p>
    @using (Html.BeginForm("Delete", "ItemVenda", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
    {
        <div class="form-group">
            <label for="ICodigo" class="col-sm-2 control-label">Código</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="Codigo" id="ICodigo" value="@Model.Id" disabled>
            </div>
        </div>
        <p></p>

        <div class="form-group">
            <label for="IQuantidade" class="col-sm-2 control-label">Quantidade</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" name="Quantidade" id="IQuantidade" value="@Model.Quantidade" disabled>
            </div>
        </div>
        <p></p>

        <div class="form-group">
            <label for="IValor" class="col-sm-2 control-label">Valor</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" name="Valor" id="IValor" value="@Model.Valor" disabled>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-4 col-md-offset-5">
                <div class="btn-group btn-group-sm">
                    <input type="submit" value="Excluir" class="btn btn-default btn-sm" />
                    <a href="@Url.Action("Index", "ItemVenda")" class="btn btn-default btn-sm">Voltar</a>
                </div>
            </div>
        </div>
        <p></p>
    }
</div>

